*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  background: black;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  background-color:rgb(210, 180, 140);
  cursor: pointer;
  transition: all .2s ease-in-out;
  transition: box-shadow .5s;
  transition: 0.5s background-color;
  cursor: none; 

}

.tile:hover {
  transform: scale(1.50); 
  box-shadow: 0 0 11px rgba(22,22,22,.5); 
  transition-duration: .5s;
}



/* NAV BAR */

/* .nav{
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  


  background-image: linear-gradient(to top,#757a61, #ece9b2);
  background-color:#e0ecb2;
  box-shadow: 0px 2px 20px 1px #222222;
  position: relative;
  z-index: 10;
}

.nav-child {
  list-style-type: none;
  display: flex;
  margin: auto;
  padding-right: 50px;

  
}

.nav-child > li {
  display: inline-block;
  padding-right: 50px;

  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 18px;
}


.nav-logo {
  margin-left: 25px;

  font-size: 25px;
  font-weight: 500;
  letter-spacing: .75px;
  font-family: 'Bebas Neue', cursive;
}
 */


/* TEXT */



.title-header {
  font-family: 'Bebas Neue', cursive;
  font-size: 90px;
  letter-spacing: 5px;

  padding: 25px;
  background-color:  #e4d9c7 ;
  position: relative;
  z-index: 10000;
  position: absolute;
  margin-left: 200px;
  margin-top: 350px;
  cursor: none; 
  border-radius: 5px;
  width: 700px;
  box-shadow: 20px 0px 30px #222222;

}

.title-about{
  font-family: 'PT Serif', serif;
  font-size: 18px;
  letter-spacing: 1px;

  box-shadow: 20px 25px 20px #222222;
  border-radius: 5px;
  cursor: none; 
  background-color:  #e4d9c7 ;
  padding: 25px;
  width: 700px;
  z-index: 99999;
  position: absolute;
  margin-left: 200px;
  margin-top: 475px;
}


.projects{
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 500;


  padding: 12px;
  width: 210px;
  background-color: #e4d9c7;
  cursor: none; 
  z-index: 10000;
  position: absolute;
  margin-left: 1275px;
  margin-top: 250px;
}

.projects-links {
  width: 210px;
  height: 200px;
  z-index: 1000;
  position: absolute;
  margin-left: 1275px;
  margin-top: 300px;

  height: 200px;
  box-shadow: 12px 20px 20px #222222;
  padding: 11px;
  background-color: #e4d9c7;
}

.projects-links > ol {


  margin-top: 15px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: none; 

}

.projects-links > ol, a {
  text-decoration: none!important;
  color: black;
}


